.premier_ligne {
    
    background-color: rgb(6, 6, 138);
    color: white;
}
table{
    border-collapse: collapse;
}
td{
border: 1px solid black;
padding: 10px;
text-align: center;
}
.pause_déjeuner{
    background-color: rgb(160, 7, 7);
    color: white;
    text-transform: uppercase;
    text-decoration-style: solid;
}